Package: com.maximehip.longkeys
Name: LongKeys
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: maximehip
Author: maximehip
Section: Tweaks
